* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    width: 400px;
    height: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #333;
    padding: 5px;
    margin-top: 40px;
    border-radius: 12px;
    
    
}

.Box1:link, .Box1:visited {
  width: 380px;
  height: 125px;
  background-color: #81137c;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border-radius: 12px;
  transition: 0.1s ease-in-out;

  display: flex;
  gap: 15px;


}

.Box1:hover, .Box1:active {
  /* background-color: rgb(219, 98, 235); */
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  transform: scale(1.05);
  transform: scale(0.95);
}


.Box2:link, .Box2:visited {
  width: 380px;
  height: 125px;
  background-color: #81137c;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border-radius: 12px;
  transition: 0.1s ease-in-out;

  display: flex;
  gap: 15px;

}

.Box2:hover, .Box2:active {
  /* background-color: rgb(219, 98, 235); */
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  transform: scale(1.05);
  transform: scale(0.95);
}


.Box3:link, .Box3:visited {
  width: 380px;
  height: 125px;
  background-color: #81137c;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border-radius: 12px;
  transition: 0.1s ease-in-out;

  display: flex;
  gap: 15px;
 
}

.Box3:hover, .Box3:active {
  /* background-color: rgb(219, 98, 235); */
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  transform: scale(1.05);
  transform: scale(0.95);
}



.TextHead {
    color: #fff;
    text-align: center;
    /* background-color: #706C71; */
    padding: 1px;

    margin-top: 80px;


}

body {
    background-color: #2E2E30;
}


p {
  width: 20px;
  height: 20px;
}


.CSM {
    border-radius: 12px;
    width: 100px;
    height: 100px;
    margin-top: 3px;
    margin-left: 5px; 
}


.card .textsin,
.card .textsong {
    margin: 0;
    color: white;

}

.textsong {
    font-size: 25px;
    margin-top: 1px;
    margin-left: 0px;
}

.textsin {
    font-size: 15px;
    margin-top: 1px;
    margin-left: 0px; 
}


.bg-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
}

.bg-video.show {
    opacity: 1;
}